@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@keyframes fade {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
body{
  margin: 10px;
  text-decoration: none;
  animation: fade ease 1s;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: #9bf2b2;
}
h1 {
  text-align: center;
}
.hello {
  opacity: 1 !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}
.gallery .content {
  padding: 4px;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
